<html ng-app="Myapp">
    <head>
        <title>Grub Flix</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
        <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <link rel="stylesheet" href="./bower_components/angular-bootstrap/ui-bootstrap-csp.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="style.css">
       
        <script src="./static/javascripts/app.js"></script>
        <script src="./static/javascripts/factories/apiFactory.js"></script>
        <script src="./static/javascripts/controllers/randomController.js"></script>
        <script src="./static/javascripts/controllers/modalController.js"></script>
        <script src="./static/javascripts/controllers/modalinstanceController.js"></script>


        <script type="text/ng-template" id="modal.html">
            <div ng-repeat="x in modal">
                <div class="modal-header">
                    <h3 style="text-align: center;">{{modal[0].title}}</h3>
                </div>
                <div class="modal-body">
                    <img style=" display: inline-block" src="{{modal[0].image_url}}" height="250px" width="250px">
                    <ul style="vertical-align: top;display: inline-block; margin-left: 20px; width: 300px">
                        <li style="font-weight: bold;">Ingredients:</li>
                        <li style="margin-left: 20px; list-style: circle;" ng-repeat="x in ingredients track by $index">{{x}}</li>
                    </ul>
                </div>
                <a href="{{modal[0].source_url}}">More Details</a> 
             </div>
                
                
                <div class="modal-footer">
                    <button class="btn btn-warning #f4511e deep-orange darken-1" type="button" ng-click="cancel()">Close</button>
                </div>	
        </script>

        <script type="text/ng-template" id="modal1.html">
        	<div ng-repeat="x in random">
        		<div class="modal-header">
                    <h3 style="text-align: center;" >{{random.recipe.title}}</h3>
                </div>
        		 <div class="modal-body">
        			<img style=" display: inline-block" src="{{random.recipe.image_url}}" height="250" width="250">
        		
        			<ul style="vertical-align: top;display: inline-block; margin-left: 20px; width: 300px">
                        <li style="font-weight: bold;">Ingredients:</li>
        				<li  style="margin-left: 20px; list-style: circle;"ng-repeat="x in random.recipe.ingredients track by $index">{{x}}</li>
        			</ul>

        		</div>
                    <a href="{{random.recipe.source_url}}">More Details</a>
        	</div>
        	<div class="modal-footer">
                <button class="btn btn-warning #f4511e deep-orange darken-1" type="button" ng-click="cancel()">Close</button>        
            </div>
        </script>
       
    </head>
        <body>
            <div ng-view="">
            </div>
        </body>
</html>