<html>
	<head>
		<title>Grub Flix</title>  		
	</head>
	<body>
		<nav>
		    <div class="nav-wrapper #0288d1 light-blue darken-2 fixed">
		    	<a style="margin-left: 45%" class="brand-logo">Grub Flix</a>
		      	<form>
			        <div class="input-field">
			          <input id="search" type="search" required>
			          <label for="search"><i class="material-icons">Search</i></label>
			          <i class="material-icons">close</i>
			        </div>
		     	</form>
		    </div>
		    <div ng-controller="maincontroller">
		    </div>
		</nav>
        
	</body>
</html>