<html>
	<head>
		<title>Grub Flix</title>  		
	</head>
	<body>
        <nav>
            <div class="nav-wrapper #0288d1 light-blue darken-2 fixed">
                <a style="margin-left: 45%" class="brand-logo">Grub Flix</a>
                <form>
                    <div class="input-field">
                      <input id="search" type="search" required>
                      <label for="search"><i class="material-icons">Search</i></label>
                    </div> 
                </form>
            </div>
        </nav>
            <div class="container">


                	<div  ng-controller="modalcontrol">
                   
                            
                             <img ng-repeat="y in list" src="{{y.image_url}}" ng-click="open('large', y)" height="250px" width="230px">
                      
                    </div>
                <footer>
                    <button type="submit" class="btn btn-default">Don't like what you see! Click here!</button>
                </footer>
            </div>
    </body>
</html>