<html>
	<head>
		<title>Grub Flix</title>  		
	</head>
	<body>
        <div ng-controller="modalcontrol">
        <nav>
            <div class="nav-wrapper #0288d1 light-blue darken-2 fixed">
                <a style="margin-left: 40%" class="brand-logo">Try Grub Flix!</a>
                <form >
                    <div class="input-field">
                      <input  style="padding-left: 150px" id="search" type="search" required ng-model="box.search">
                      <label for="search"><i class="material-icons">Search</i></label>
                      <input type="submit" class="btn waves-effect waves-light" value = "submit" ngclick="form()">
                    </div> 
                </form>
            </div>
        </nav>
            <div class="container">


                	
                            
                             <img ng-repeat="y in list" src="{{y.image_url}}" ng-click="open('large', y)" height="250px" width="230px">
                      
                    </div>
                <footer>
                    <button type="submit" class="btn btn-default">Don't like what you see! Click here!</button>
                </footer>
        </div>
    </body>
</html>